<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semear.tec.palavrizapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.semear.tec.palavrizapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider"/>
        </provider>


        <activity android:name=".modules.admin.AdminActivity" />
        <activity
            android:name=".modules.classroom.input_comment.AddCommentActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".modules.essay.photo_zoom.ImageZoomActivity" />
        <activity android:name=".modules.essay.essay_view_professor.EssayViewActivity" />
        <activity android:name=".modules.essay.MyEssayActivity" />
        <activity
            android:name=".modules.essay.image_check.EssayCheckActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".modules.welcome.WelcomeActivity" />
        <activity
            android:name=".modules.classroom.ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.classroom.FullscreenVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".modules.upload.UploadActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fccde76341c25f9c7fff7bba5833402cf51ccce" />

        <service
            android:name=".modules.upload.UploadService"
            android:description="@string/upload_service_description"
            android:exported="false" />
    </application>

</manifest>